### Notebook setup

In [8]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 10)

### Data exploration

In [3]:
train_sample = pd.read_csv('data/sample_submission.csv')
test = pd.read_csv('data/test.csv')

In [4]:
test.describe()

,click_id,ip,app,device,os,channel
count,1.879047e+07,1.879047e+07,1.879047e+07,1.879047e+07,1.879047e+07,1.879047e+07
mean,9.395234e+06,6.306921e+04,1.221480e+01,1.730513e+00,1.873312e+01,2.648059e+02
std,5.424341e+06,3.688597e+04,1.164924e+01,2.597038e+01,1.135059e+01,1.355254e+02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.697617e+06,3.155800e+04,3.000000e+00,1.000000e+00,1.300000e+01,1.350000e+02
50%,9.395234e+06,6.393600e+04,1.200000e+01,1.000000e+00,1.800000e+01,2.360000e+02
75%,1.409285e+07,9.531600e+04,1.800000e+01,1.000000e+00,1.900000e+01,4.010000e+02
max,1.879047e+07,1.264130e+05,5.210000e+02,3.031000e+03,6.040000e+02,4.980000e+02

In [4]:
test['app'].nunique()

417

### Benchmark models

For benchmark we will consider two models, one outputing constant value and second using random value from uniform distribution. Both will be evaluated on test set and the one with higher score will be used as basline.

In [10]:
benchmark_const = test[['click_id']].copy()
benchmark_const['is_attributed'] = 0
display(benchmark_const)

          click_id  is_attributed
0                0              0
1                1              0
2                2              0
3                3              0
4                4              0
...            ...            ...
18790464  18790464              0
18790465  18790465              0
18790466  18790467              0
18790467  18790466              0
18790468  18790468              0

[18790469 rows x 2 columns]

In [11]:
benchmark_rand = test[['click_id']].copy()
benchmark_rand['is_attributed'] = np.random.uniform(size=len(benchmark_rand))
display(benchmark_rand)

          click_id  is_attributed
0                0       0.740345
1                1       0.308222
2                2       0.442658
3                3       0.430058
4                4       0.887383
...            ...            ...
18790464  18790464       0.120938
18790465  18790465       0.463872
18790466  18790467       0.460605
18790467  18790466       0.508274
18790468  18790468       0.998460

[18790469 rows x 2 columns]

In [ ]:
# Save benchmarks for evaluation on Kaggle
benchmark_const.to_csv('data/benchmark_const.csv.gz',compression='gzip', index=False)
benchmark_rand.to_csv('data/benchmark_rand.csv.gz',compression='gzip', index=False)